name: build-and-push

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push API
        run: |
          IMAGE=ghcr.io/${{ github.repository_owner }}/burger-api:latest
          docker build -t $IMAGE ./api
          docker push $IMAGE

      - name: Build & Push Web
        run: |
          IMAGE=ghcr.io/${{ github.repository_owner }}/burger-web:latest
          docker build -t $IMAGE ./web
          docker push $IMAGE
